<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link href="/assets/application.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/application.js"></script>
  </head>
  <body>
    <% unless player_name.empty? %>
      <img class="logout" src="assets/logout.png"></img>
      <nav class="sidebar">
        <ul class="scores">
          <% scores.each_with_index do |score, index| %>
            <li class="score">Game <%= index + 1 %>: attempts - <%= score[:attempts_used] %>/<%= score[:attempts_number] %>, time - <%= score[:time_taken] %> seconds</li>
          <% end %>
        </ul>
      </nav>
    <% end %>
    <div class="main">
      <h1 class="logo">Codebreaker</h1>
      <%= content %>
    </div>

  </body>
</html>
